[submodule "slow-control_hub"]
	path = slow-control_hub
	url = git@github.com:yifeng-ethz/slow-control_hub.git
[submodule "onewire_temp_sense"]
	path = onewire_temp_sense
	url = git@github.com:yifeng-ethz/onewire_temp_sense.git
[submodule "mutrig_frame_assembly"]
	path = mutrig_frame_assembly
	url = git@github.com:yifeng-ethz/mutrig_frame_assembly.git
[submodule "CAM"]
	path = CAM
	url = git@github.com:yifeng-ethz/CAM.git
[submodule "mutrig_timestamp_processor"]
	path = mutrig_timestamp_processor
	url = git@github.com:yifeng-ethz/mutrig_timestamp_processor.git
[submodule "mutrig_frame_deassembly"]
	path = mutrig_frame_deassembly
	url = git@github.com:yifeng-ethz/mutrig_frame_deassembly.git
[submodule "histogram_statistics"]
	path = histogram_statistics
	url = git@github.com:yifeng-ethz/histogram_statistics.git
[submodule "mutrig_controller"]
	path = mutrig_controller
	url = git@github.com:yifeng-ethz/mutrig_controller.git
[submodule "charge_injection"]
	path = charge_injection
	url = git@github.com:yifeng-ethz/charge_injection.git
[submodule "alt_temp_sense_controller"]
	path = alt_temp_sense_controller
	url = git@github.com:yifeng-ethz/alt_temp_sense_controller.git
[submodule "high_performance_counter_array"]
	path = high_performance_counter_array
	url = git@github.com:yifeng-ethz/high_performance_counter_array.git
[submodule "mutrig_channel_counter_fabric"]
	path = mutrig_channel_counter_fabric
	url = git@github.com:yifeng-ethz/mutrig_channel_counter_fabric.git
[submodule "firefly_xcvr_i2c_master"]
	path = firefly_xcvr_i2c_master
	url = git@github.com:yifeng-ethz/firefly_xcvr_i2c_master.git
