[submodule "slow-control_hub"]
	path = slow-control_hub
	url = git@github.com:yifeng-ethz/slow-control_hub.git
[submodule "onewire_temp_sense"]
	path = onewire_temp_sense
	url = git@github.com:yifeng-ethz/onewire_temp_sense.git
[submodule "mutrig_frame_assembly"]
	path = mutrig_frame_assembly
	url = git@github.com:yifeng-ethz/mutrig_frame_assembly.git
[submodule "CAM"]
	path = CAM
	url = git@github.com:yifeng-ethz/CAM.git
[submodule "mutrig_timestamp_processor"]
	path = mutrig_timestamp_processor
	url = git@github.com:yifeng-ethz/mutrig_timestamp_processor.git
[submodule "mutrig_frame_deassembly"]
	path = mutrig_frame_deassembly
	url = git@github.com:yifeng-ethz/mutrig_frame_deassembly.git
[submodule "histogram_statistics"]
	path = histogram_statistics
	url = git@github.com:yifeng-ethz/histogram_statistics.git
